# Question 4:

In [ ]:
#TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. 
#Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the 
#defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate 
#inferences

#Minitab File: CustomerOrderForm.mtw

## We are going to conduct a Test of Independence using Chi-Square  test with Contingency table

## Step 1 :Formulate Hypothesis

In [ ]:
#Null Hypothesis: (H0): μ1 = μ2 = μ3 = μ4
#Alternative Hypthosis:(HA): At least one of them is different.

## Step 2 :Decide a cut-off value

In [ ]:
#Significance 5%
#alpha α = 0.05

## Step 3 :Collect Evidences

In [39]:
customer_data=pd.read_csv('Costomer+OrderForm.csv')
customer_data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [40]:
customer_data.shape

(300, 4)

In [41]:
customer_data.isna().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [42]:
customer_data.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [43]:
customer_data.dtypes

Phillippines    object
Indonesia       object
Malta           object
India           object
dtype: object

### Contingency Table:

In [44]:
print(customer_data['Phillippines'].value_counts(),'\n',customer_data['Indonesia'].value_counts(),'\n',customer_data['Malta'].value_counts(),'\n',customer_data['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
 Error Free    267
Defective      33
Name: Indonesia, dtype: int64
 Error Free    269
Defective      31
Name: Malta, dtype: int64
 Error Free    280
Defective      20
Name: India, dtype: int64

In [45]:
contingency_table = [[271,267,269,280],
                    [29,33,31,20]]
print(contingency_table)

[[271, 267, 269, 280], [29, 33, 31, 20]]

### Expected Values for observed Data:

In [46]:
stat, p, df, exp = stats.chi2_contingency(contingency_table)
print("Statistics = ",stat,"\n",'P_Value = ', p,'\n', 'degree of freedom =', df,'\n', 'Expected Values = ', exp)

Statistics =  3.858960685820355
 P_Value =  0.2771020991233135
 degree of freedom = 3
 Expected Values =  [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

### Defining Expected values and observed values:

In [47]:
observed_value = np.array([271, 267, 269, 280, 29, 33, 31, 20])
expected_value = np.array([271.75, 271.75, 271.75, 271.75, 28.25, 28.25, 28.25, 28.25])

## Step 4: Compare the evidences with the significance level.

In [51]:
test_statistic , p_value = stats.chisquare(observed_value, expected_value, ddof = df)
print("Test Statistic = ",test_statistic,'\n', 'p_value =',p_value)

Test Statistic =  3.858960685820355
 p_value = 0.4254298144535761

In [52]:
p_value

0.4254298144535761

**If p_value is <= α we reject Null Hypothesis.**

**If p_value is > α we failed to reject Null Hypothesis (Accepet Null Hypothesis)because of lack of evidence.**

In [53]:
#Significnace=0.05, p=0.4254
#We fail to reject Null hypothesis(Accepet Null Hypothesis)